<launch>
  <arg name="world_file"
       default="$(find material_handling_robot)/world/robotworld.world"/>
  <include file= "$(find turtlebot_gazebo)/launch/turtlebot_world.launch"> 
      <arg name="world_file" 
           value="$(arg world_file)"/>
  </include>
  <node name="pickupdropoff" 
        pkg="material_handling_robot" 
        type="pickupdropoff"
        output="screen"
        required = "true"
        launch-prefix = "xterm -e" />
</launch>
